<div class="bg-white">
  <main class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
    <div class="flex items-baseline justify-between border-b border-gray-200 pt-24 pb-6">
      <h1 class="text-4xl font-bold tracking-tight text-gray-900">Our limited prints</h1>

      <div class="flex items-center">
        <div class="relative inline-block text-left">
          <div>
            <button type="button" class="group inline-flex justify-center text-sm font-medium text-gray-700 hover:text-gray-900" id="menu-button" aria-expanded="false" aria-haspopup="true">
              Sort
              <svg class="-mr-1 ml-1 h-5 w-5 flex-shrink-0 text-gray-400 group-hover:text-gray-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                <path fill-rule="evenodd" d="M5.23 7.21a.75.75 0 011.06.02L10 11.168l3.71-3.938a.75.75 0 111.08 1.04l-4.25 4.5a.75.75 0 01-1.08 0l-4.25-4.5a.75.75 0 01.02-1.06z" clip-rule="evenodd" />
              </svg>
            </button>
          </div>
          <div class="hidden right-0 z-10 mt-2 w-40 origin-top-right rounded-md bg-white shadow-2xl ring-1 ring-black ring-opacity-5 focus:outline-none" role="menu" aria-orientation="vertical" aria-labelledby="menu-button" tabindex="-1">
            <div class="py-1" role="none">
              <!--
                Active: "bg-gray-100", Not Active: ""

                Selected: "font-medium text-gray-900", Not Selected: "text-gray-500"
              -->
              <a href="#" class="font-medium text-gray-900 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-0">Most Popular</a>

              <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-1">Best Rating</a>

              <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-2">Newest</a>

              <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-3">Price: Low to High</a>

              <a href="#" class="text-gray-500 block px-4 py-2 text-sm" role="menuitem" tabindex="-1" id="menu-item-4">Price: High to Low</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <section aria-labelledby="products-heading" class="pt-6 pb-24">
      <div class="grid grid-cols-1 gap-x-8 gap-y-10 lg:grid-cols-4">
        <!-- Search -->

        <!-- Filters -->
        <form class="block">
          <div class="border-b border-gray-200 py-6">
            <h3 class="-my-3 flow-root text-gray-900 py-3 text-sm font-medium">Price</h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-4 flex-col flex">
                <div class="text-sm text-gray-600 flex justify-between">
                  <label for="min-price">Minimum Price:</label>
                  <span><output id="minPrice">50</output> $</span>
                </div>
                <input type="range" name="min-price" min="50" max="1000" value="50" class="accent-indigo-600" oninput="document.getElementById('minPrice').value = this.value">
                <div class="text-sm text-gray-600 flex justify-between">
                  <label for="max-price">Maximum Price:</label>
                  <span><output id="maxPrice">500</output> $</span>
                </div>
                <input type="range" min="50" max="1000" value="500" name="max-price" class="accent-indigo-600" oninput="document.getElementById('maxPrice').value = this.value">
              </div>
            </div>
          </div>

          <div class="border-b border-gray-200 py-6">
            <h3 class="-my-3 flow-root text-gray-900 py-3 text-sm font-medium">Category</h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-4">
                <% Artwork::CATEGORIES.each_with_index do |category, index| %>
                  <div class="flex items-center">
                    <input id="filter-category-<%= index %>" name="category[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-category-<%= index %>" class="ml-3 text-sm text-gray-600"><%= category.capitalize %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="border-b border-gray-200 py-6">
            <h3 class="-my-3 flow-root text-gray-900 py-3 text-sm font-medium">Condition</h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-4">
                <div class="flex items-center">
                  <input id="filter-condition-second-hand" checked name="condition[]" value="second_hand" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 checked:ring-indigo-500">
                  <label for="filter-condition-second-hand" class="ml-3 text-sm text-gray-600">Second hand</label>
                </div>
                <div class="flex items-center">
                  <input id="filter-condition-new" checked name="condition[]" value="new" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 checked:ring-indigo-500">
                  <label for="filter-condition-new" class="ml-3 text-sm text-gray-600">New prints</label>
                </div>
              </div>
            </div>
          </div>

          <div class="border-b border-gray-200 py-6">
            <h3 class="-my-3 flow-root text-gray-900 py-3 text-sm font-medium">Format</h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-4">

                <% Print::FORMATS.each_with_index do |format, index| %>
                  <div class="flex items-center">
                    <input id="filter-format-<%= index %>" name="format[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-format-<%= index %>" class="ml-3 text-sm text-gray-600"><%= format %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>

          <div class="border-b border-gray-200 py-6">
            <h3 class="-my-3 flow-root text-gray-900 py-3 text-sm font-medium">Tags</h3>
            <div class="pt-6" id="filter-section-0">
              <div class="space-y-4">

                <% Artwork::TAGS.each_with_index do |tag, index| %>
                  <div class="flex items-center">
                    <input id="filter-color-<%= index %>" name="color[]" value="white" type="checkbox" class="h-4 w-4 rounded border-gray-300 text-indigo-600 focus:ring-indigo-500">
                    <label for="filter-color-<%= index %>" class="ml-3 text-sm text-gray-600"><%= tag %></label>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </form>

        <!-- Product grid -->
        <div class="lg:col-span-3">
          <div class="mx-auto max-w-2xl py-12 px-4 sm:py-8 sm:px-0 lg:max-w-7xl">
            <%# Search %>
            <div class="relative text-gray-600 outline-none focus-within:text-gray-400">
              <span class="absolute inset-y-0 left-0 flex items-center pl-2">
                <button type="submit" class="p-1 focus:outline-none focus:shadow-outline">
                  <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" viewBox="0 0 24 24" class="w-6 h-6"><path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path></svg>
                </button>
              </span>
              <input type="search" name="q" class="w-full py-2 text-sm text-white border-gray-300 rounded-md pl-10 focus:outline-none focus:bg-white focus:text-gray-900" placeholder="Search..." autocomplete="off">
            </div>
            <div class="grid grid-cols-1 gap-y-10 gap-x-6 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 xl:gap-x-8 pt-4">
              <% @listings.each do |listing| %>
                <a href="#" class="group">
                  <div class="aspect-w-1 aspect-h-1 w-full overflow-hidden rounded-lg bg-gray-200 xl:aspect-w-7 xl:aspect-h-8">
                    <%= image_tag listing.cover_image, alt: listing.name, class: "h-full w-full object-cover object-center group-hover:opacity-75" %>
                  </div>
                  <div class="flex justify-between mt-4">
                    <div>
                      <h3 class="text-md text-gray-700"><%= listing.name %></h3>
                      <h4 class="text-sm text-gray-400 whitespace-nowrap"><%= listing.author %></h4>
                    </div>
                    <p class="text-lg font-medium text-gray-900">$<%= listing.price %></p>
                  </div>
                </a>
              <% end %>
            </div>
          </div>
          <div class="flex justify-between px-4">
            <span class="text-gray-500 text-sm"><%== pagy_info(@pagy, item_name: "prints") %></span>
            <%== pagy_nav(@pagy) %>
          </div>
        </div>
      </div>
    </section>
  </main>
</div>
