<!DOCTYPE html>
<html class="h-full bg-gray-100">
  <head>
    <title>UltimateSearch</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="h-full">
    <div class="min-h-full">
      <main>
        <div class="mx-auto max-w-7xl py-16 sm:px-6 lg:px-8">
          <%= yield %> 
        </div>
      </main>
    </div>
  </body>
</html>
